@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Proxima Nova Black";
    src: url("/fonts/Proxima_Nova_Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");

  .mobilenav,
  .mobilenav-enter {
    opacity: 0;
  }
  .mobilenav-enter-active {
    opacity: 1;

    transition: opacity 300ms;
  }
  .mobilenav-exit {
    opacity: 1;
  }
  .mobilenav-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-7xl;
  }
  h2 .font-accent {
    @apply text-7xl;
  }

  h3 {
    @apply text-5xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }

  #map p {
    @apply mb-0;
  }

  section li {
    @apply list-inside list-disc;
  }

  .section-rotated::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-position: 0 0;
    --section-height: 200%;
    width: 100vw;
    height: var(--section-height);
    top: calc(-0.25 * var(--section-height));
    background-repeat: no-repeat;
    /* left: -1rem; */
  }

  .section-rotated-right:before {
    clip-path: polygon(0% 0%, 100% 17.6327%, 100% 100%, 0% 82.3673%); /* 10deg */
  }

  .section-rotated-left:before {
    clip-path: polygon(0% 17.6327%, 100% 0%, 100% 82.3673%, 0% 100%); /* 10deg */
  }

  @screen md {
    .section-rotated::before {
      --section-height: 150%;
      left: -1rem;
      top: -15%;
      background-size: 50% auto;
    }

    .section-rotated-left::before {
      clip-path: polygon(0% 17.6327%, 100% 0%, 100% 82.3673%, 0% 100%); /* 10deg */
    }

    .section-rotated-right::before {
      clip-path: polygon(0% 0%, 100% 17.6327%, 100% 100%, 0% 82.3673%); /* 10deg */
    }
  }

  @screen lg {
    .section-rotated::before {
      --section-height: 200%;
      top: -30%;
    }
  }

  @screen xl {
    .section-rotated::before {
      --section-height: 300%;
      top: calc(-0.25 * var(--section-height));
      /* background-size: auto calc(-0.5 * var(--section-height) + 300%); */
    }
  }
}
